:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --primary-color: #0c243c;
}

.navbar-brand {
  height: 4vw;
  text-transform: uppercase;
  font-family: var(--font-inter);
  font-weight: 600;
}

.navbar-brand img {
  height: 100%;
  object-fit: contain;
}

.nav-link {
  font-family: var(--font-inter);
  font-weight: 500;
  color: #000;
}

.book-btn {
  background-color: var(--primary-color);
  color: #fff;
  font-family: var(--font-inter);
  font-weight: bold;
}

.book-btn:hover {
  color: #fff;
}

.banner-section > div {
  width: 50%;
}

.banner-section h1 {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 4vw;
}

.banner-section .book-btn {
  font-size: 1.1rem;
  padding: 0.5rem;
}

.cloud-img {
  z-index: 3;
}

.carousel-header .airplane-section {
  width: fit-content;
  height: 45vh;
}

.airplane-img {
  height: 60%;
  width: 28vw;
  left: -23%;
  bottom: 10%;
  transform: rotateX(13deg) rotateY(220deg);
}

.carousel-header #headerCarousel {
  width: 60%;
  margin-left: 5%;
}

.carousel-item {
  width: 90%;
  height: 300px;
}

.carousel-item {
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  overflow: hidden;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}

.carousel-caption {
  background: linear-gradient(to top, #000 50%, transparent);
  left: 0;
  right: 0;
  bottom: 0;
}

.country-section {
  margin-top: 6rem;
}

.country-section p {
  font-family: var(--font-poppins);
}

.country-card img {
  border-radius: 50px;
  filter: brightness(80%);
  height: 100%;
}

.country-card p {
  left: 8%;
  bottom: 5%;
}

/* media query  */

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  .navbar-brand img {
    height: 5vw;
  }

  .banner-section > div {
    width: 80%;
  }

  .banner-section h1 {
    font-size: 6vw;
    line-height: 4rem;
  }

  .banner-section .book-btn {
    font-size: 2.5vw;
  }

  .carousel-header #headerCarousel {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .banner-section h1 {
    font-size: 8vw;
    line-height: 4rem;
  }

  .banner-section .book-btn {
    font-size: 3vw;
  }
}
@media screen and (max-width: 576px) {
  .banner-section {
    padding: 0;
  }
  .banner-section h1 {
    font-size: 8vw;
    line-height: normal;
  }
  .banner-section .book-btn {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 300px) {
  .navbar-brand p {
    font-size: 5vw;
  }

  .nav-link,
  .book-btn {
    font-size: 4.5vw;
  }

  .banner-section .book-btn {
    font-size: 4.5vw;
  }
}
