:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --primary-color: #0c243c;
}

.navbar-brand {
  height: 4vw;
  text-transform: uppercase;
  font-family: var(--font-inter);
  font-weight: 600;
}

.navbar-brand img {
  height: 100%;
  object-fit: contain;
}

.nav-link {
  font-family: var(--font-inter);
  font-weight: 500;
  color: #000;
}

.book-btn {
  background-color: var(--primary-color);
  color: #fff;
  font-family: var(--font-inter);
}

.book-btn:hover {
  color: #fff;
}

/* media query  */

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  .navbar-brand img {
    height: 5vw;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 300px) {
  .navbar-brand p {
    font-size: 5vw;
  }

  .nav-link,
  .book-btn {
    font-size: 4.5vw;
  }
}
