:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --primary-color: #0c243c;
  --secondary-color: #0b233b;
}

.navbar-brand {
  height: 4vw;
  text-transform: uppercase;
  font-family: var(--font-inter);
  font-weight: 600;
}

.navbar-brand img {
  height: 100%;
  object-fit: contain;
}

.nav-link {
  font-family: var(--font-inter);
  font-weight: 500;
  color: #000;
}

.book-btn {
  background-color: var(--primary-color);
  color: #fff;
  font-family: var(--font-inter);
  font-weight: bold;
}

.book-btn:hover {
  color: #fff;
}

.banner-section > div {
  width: 50%;
}

.banner-section h1 {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 4vw;
}

.banner-section .book-btn {
  font-size: 1.1rem;
  padding: 0.5rem;
}

.cloud-img {
  z-index: 3;
}

.carousel-header .airplane-section {
  width: fit-content;
  height: 45vh;
}

.airplane-img {
  height: 60%;
  width: 28vw;
  left: -23%;
  bottom: 10%;
  transform: rotateX(13deg) rotateY(220deg);
}

.carousel-header #headerCarousel {
  width: 60%;
  margin-left: 5%;
}

.carousel-item {
  width: 90%;
  height: 300px;
}

.carousel-item {
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  overflow: hidden;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}

.carousel-caption {
  background: linear-gradient(to top, #000 50%, transparent);
  left: 0;
  right: 0;
  bottom: 0;
}

.country-section {
  margin-top: 6rem;
}

.country-section p {
  font-family: var(--font-poppins);
}

.country-card {
  height: 100%;
}

.country-card img {
  border-radius: 50px;
  filter: brightness(80%);
  height: 100%;
}

.country-card p {
  left: 8%;
  bottom: 5%;
}

.service-section {
  margin: 3rem 6rem 0;
}

.service-section > p {
  font-family: var(--font-poppins);
}

.services {
  width: 100%;
}

.card {
  height: 100%;
  padding: 2rem;
  border-radius: 50px;
  transition: box-shadow 1s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 6px #a4b0be;
}

.card:hover img {
  transform: rotate(15deg) scale(1.1);
}

.card img {
  width: 15vw;
  height: 180px;
  margin: 0 auto;
  transition: transform 1s ease-in-out;
}

.card-body {
  font-family: var(--font-poppins);
}

.card-body a {
  color: #035de4;
  text-decoration: none;
}

.shortlist-card {
  background-color: #cb96ff;
}

.graduation-hat {
  background-color: #96ffb4;
}

.visa-card {
  background-color: #ffaf96;
}

.check-card {
  background-color: #96e6ff;
}

.loan-card {
  background-color: #ff9696;
}

.payment-card {
  background-color: #ffe896;
}

.test-section {
  margin-top: 6rem;
  background-color: #0b233b;
}

.subheading {
  color: #a6a6a6;
  text-align: justify;
}

.test-section {
  padding: 6rem 0;
}

.test-section button {
  background-color: transparent;
  border: 1px solid #fff;
  outline: 0;
  color: #fff;
  padding: 0.3rem 1.3rem;
  font-family: var(--font-poppins);
  transition: all 0.3s;
}

.test-section button:hover {
  background-color: #fff;
  color: var(--secondary-color);
}

.test-section > div {
  margin: 0 10rem;
}

.test-section > div > div {
  font-family: var(--font-poppins);
  margin-bottom: 3rem;
}

.test-section img {
  width: 100%;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.jump-img-section img {
  width: 100%;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.loan-section {
  padding: 4rem 6rem;
}

.loan-content-part,
.loan-img {
  width: 50%;
}

.loan-content-part {
  padding: 0 3rem;
  text-align: justify;
  font-family: var(--font-poppins);
}

.loan-content-part button {
  padding: 0.5rem 1rem;
  color: var(--primary-color);
  background-color: transparent;
  transition: all 0.3s;
}

.loan-content-part button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.student-count-section {
  margin: 0 6rem;
  padding: 3rem 1rem 3rem 4rem;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: #fff;
  font-family: var(--font-poppins);
}

.student-count-section > div {
  width: 50%;
}

.student-count-amount .img-part {
  background-color: #d9d9d9;
  width: fit-content;
  padding: 0.8rem;
}

.count,
.count-name {
  margin: 0;
}

.count {
  width: fit-content;
  font-size: 1vw;
}

.count-name {
  font-size: 1.1vw;
}

.student-admission {
  width: 46px;
}

.universities {
  width: 25px;
}

.loans-sanctioned {
  width: 41px;
}

.students-application {
  width: 50px;
}

.map-section {
  margin: 4rem 6rem;
  background-color: var(--primary-color);
  border-radius: 50px;
  height: 300px;
  color: #fff;
}

.map-container > div {
  width: 50%;
}

.full-map {
  padding: 0.2rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50px;
  transition: width 1s;
}

.map-section:hover .full-map {
  width: 50%;
}

.small-map {
  padding: 0.2rem;
  height: 100%;
}

.small-map img {
  border-radius: 50px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.map-content {
  margin-left: 3rem;
}

.map-content .h3 {
  font-family: var(--font-poppins);
}

.map-content .map-subheading {
  font-family: var(--font-inter);
}

.map-content button {
  font-family: var(--font-poppins);
  background-color: transparent;
  padding: 0.5rem 3rem;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.5s;
}

.map-content button:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.map-subheading {
  margin: 1.5rem 0;
}

.testimonial-section {
  margin: 5rem 0;
}

.testimonial-section .h3 {
  font-family: var(--font-poppins);
  font-size: 2.5vw;
  padding-left: 6rem;
  margin-bottom: 4rem;
}

.slider {
  margin: 2rem 0;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 45%;
}

.swiper-slide:nth-child(2n + 1) {
  background-color: #ffd6d6;
}

.swiper-slide:nth-child(2n + 2) {
  background-color: #d7d6ff;
}

.slider .slider-card {
  border-radius: 20px;
  padding: 2rem 4rem;
}

.client-img {
  width: 5vw;
  height: 5vw;
  object-fit: cover;
}

.client-info .h4 {
  font-family: var(--font-poppins);
}

.loan {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 30px 12px rgba(174, 174, 174, 0.25);
}

.loan img {
  width: 1.8vw;
}

.footer-upper {
  background-color: var(--primary-color);
  color: #fff;
  font-family: var(--font-poppins);
  font-weight: 500;
  padding: 2rem 0;
}

.footer-upper .row {
  width: 70%;
  margin: 0 auto;
}

.footer-bottom {
  font-family: var(--font-poppins);
}
/* media query  */

@media screen and (max-width: 1200px) {
  .student-count-section {
    flex-direction: column;
  }

  .student-count-section > div {
    width: 100%;
  }

  .student-count-amount {
    margin-top: 3rem;
  }

  .testimonial-section .h3 {
    font-size: 3.8vw;
  }

  .swiper-slide {
    width: 60%;
  }

  .client-img {
    width: 7vw;
    height: 7vw;
  }
}
@media screen and (max-width: 992px) {
  .navbar-brand img {
    height: 5vw;
  }

  .banner-section > div {
    width: 80%;
  }

  .banner-section h1 {
    font-size: 6vw;
    line-height: 4rem;
  }

  .banner-section .book-btn {
    font-size: 2.5vw;
  }

  .carousel-header #headerCarousel {
    width: 100%;
  }

  .loan-content-part,
  .loan-img {
    width: 100%;
  }
  .count {
    font-size: 1.5vw;
  }

  .count-name {
    font-size: 1.6vw;
  }

  .footer-upper .row .col {
    width: fit-content;
    margin: 0 auto;
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 768px) {
  .banner-section h1 {
    font-size: 8vw;
    line-height: 4rem;
  }

  .banner-section .book-btn {
    font-size: 3vw;
  }

  .test-section > div {
    margin: 0 2rem;
  }

  .heading {
    font-size: 4vw;
  }

  .subheading {
    font-size: 3vw;
  }

  .loan-section {
    padding: 4rem 2rem;
  }
  .student-count-section {
    margin: 4rem 1rem;
  }

  .count {
    font-size: 1.8vw;
  }

  .count-name {
    font-size: 1.7vw;
  }

  .map-section {
    margin: 4rem 2rem;
  }

  .testimonial-section .h3 {
    font-size: 4.8vw;
  }
  .swiper-slide {
    width: 75%;
  }
}

@media screen and (max-width: 640px) {
  .testimonial-section .h3 {
    font-size: 6vw;
    padding-left: 2.5rem;
  }
  .swiper-slide {
    width: 90%;
  }

  .footer-bottom p {
    font-size: 2.3vw;
  }
}
@media screen and (max-width: 576px) {
  .banner-section {
    padding: 0;
  }
  .banner-section h1 {
    font-size: 8vw;
    line-height: normal;
  }
  .banner-section .book-btn {
    font-size: 3.5vw;
  }

  .country-card p {
    font-size: 2vw;
  }

  .service-section {
    margin: 0 2rem;
  }

  .row {
    margin: 0;
  }

  .card img {
    width: 30vw;
  }

  .heading {
    font-size: 5vw;
  }

  .subheading {
    font-size: 4vw;
  }

  .loan-section {
    padding: 4rem 1rem;
  }

  .count {
    font-size: 3vw;
  }

  .count-name {
    font-size: 3.1vw;
  }
  .map-section {
    height: auto;
    padding: 3rem 0.2;
  }

  .map-container > div {
    width: 100%;
  }

  .map-content {
    padding: 4rem 3rem;
    margin-left: 0;
  }

  .swiper-slide {
    width: 95%;
  }

  .client-img {
    width: 15vw;
    height: 15vw;
    margin-right: 3rem;
  }

  .client-info .h4 {
    font-size: 7vw;
    margin-top: 1rem;
  }

  .loan {
    display: none;
  }

  .footer-bottom p {
    font-size: 2.6vw;
  }
}

@media screen and (max-width: 440px) {
  .student-count-content .h2 {
    font-size: 5.5vw;
  }

  .student-count-content p:nth-child(2) {
    font-size: 3.2vw;
  }
  .student-count-section {
    padding: 3rem 1rem 3rem;
  }

  .map-content {
    padding: 4rem 1.5rem;
  }

  .map-subheading {
    font-size: 3vw;
  }

  .map-content button {
    font-size: 3vw;
    padding: 0.5rem 2rem;
  }

  .testimonial-section .h3 {
    font-size: 8vw;
  }

  .slider .slider-card {
    padding: 2rem 3rem;
  }

  .footer-upper .row .col {
    font-size: 3vw;
  }

  .footer-bottom p {
    font-size: 3vw;
  }
}

@media screen and (max-width: 380px) {
  .service-section {
    margin: 0 1rem;
  }

  .card-body {
    padding: 1rem 0;
  }

  .card-title {
    font-size: 6vw;
  }
  .card-text {
    font-size: 5vw;
  }

  .loan-section button {
    font-size: 3vw;
  }

  .loan-content-part {
    padding: 0;
  }
  .card img {
    width: 100%;
    height: fit-content;
  }

  .count {
    font-size: 4vw;
  }

  .count-name {
    font-size: 4.1vw;
  }

  .map-content {
    padding: 4rem 1rem;
  }

  .testimonial-section .h3 {
    padding: 1.5rem;
    font-size: 10vw;
  }

  .client-img {
    width: 20vw;
    height: 20vw;
  }
  .footer-upper .row .col {
    font-size: 4vw;
  }

  .footer-bottom p {
    font-size: 4vw;
  }
}

@media screen and (max-width: 300px) {
  .navbar-brand p {
    font-size: 5vw;
  }

  .nav-link,
  .book-btn {
    font-size: 4.5vw;
  }

  .banner-section .book-btn {
    font-size: 4.5vw;
  }

  .test-section button {
    font-size: 4vw;
  }

  .count-name {
    font-size: 3.6vw;
  }
  .map-section {
    margin: 4rem 1rem;
  }
  .testimonial-section .h3 {
    margin-bottom: 2rem;
    text-align: center;
  }

  .client-img {
    width: 25vw;
    height: 25vw;
  }

  .client-info .h4 {
    font-size: 7.5vw;
  }
}
