:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --primary-color: #0c243c;
  --secondary-color: #0b233b;
}

body {
  background-color: #eee;
  color: #fff;
}

.navbar-brand {
  height: 4vw;
  text-transform: uppercase;
  font-family: var(--font-inter);
  font-weight: 600;
}

.navbar-brand img {
  height: 100%;
  object-fit: contain;
}

.nav-link {
  font-family: var(--font-inter);
  font-weight: 500;
  color: #000;
}

.book-btn {
  background-color: var(--primary-color);
  color: #fff;
  font-family: var(--font-inter);
  font-weight: bold;
}

.book-btn:hover {
  color: #fff;
}

main {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

main .h2 {
  font-family: var(--font-poppins);
  font-weight: 600;
  color: #000;
}

.form-part {
  width: 80%;
}

.form-part input {
  font-family: var(--font-poppins);
  font-weight: 400;
  border-radius: 20px;
  border: 2px solid #000;
  background: #fafafa;
}

.submit-btn {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  font-family: var(--font-poppins);
  font-weight: 600;
  color: #fff;
  border: 1px solid #fff;
  transition: all 1s;
}

.submit-btn:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.footer-upper {
  background-color: var(--primary-color);
  color: #fff;
  font-family: var(--font-poppins);
  font-weight: 500;
  padding: 2rem 0;
}

.footer-upper .row {
  width: 70%;
  margin: 0 auto;
}

.footer-bottom {
  font-family: var(--font-poppins);
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 1200px) {
  .navbar-brand {
    height: 6vw;
  }
}
@media screen and (max-width: 992px) {
  .navbar-brand img {
    height: 5vw;
  }
  .footer-upper .row .col {
    width: fit-content;
    margin: 0 auto;
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 768px) {
  .navbar-brand {
    height: 8vw;
  }

  .navbar-brand img {
    height: 8vw;
  }
}
@media screen and (max-width: 640px) {
  .navbar-brand {
    height: 9vw;
  }
  .footer-bottom p {
    font-size: 2.3vw;
  }

  .navbar-brand img {
    height: 9vw;
  }
}
@media screen and (max-width: 576px) {
  .navbar-brand {
    height: 10vw;
  }

  .navbar-brand img {
    height: 10vw;
  }

  .main-part .form-part {
    width: 100%;
  }

  .footer-bottom p {
    font-size: 2.6vw;
  }
}

@media screen and (max-width: 440px) {
  .navbar-brand {
    height: 10vw;
  }

  .navbar-brand img {
    height: 10vw;
  }

  main .h2 {
    padding-left: 1rem;
  }

  .footer-upper .row .col {
    font-size: 3vw;
  }

  .footer-bottom p {
    font-size: 3vw;
  }
}
@media screen and (max-width: 380px) {
  .footer-upper .row .col {
    font-size: 4vw;
  }

  .footer-bottom p {
    font-size: 4vw;
  }
}
@media screen and (max-width: 300px) {
  .navbar-brand {
    height: 12vw;
  }

  .navbar-brand img {
    height: 12vw;
  }

  .nav-link,
  .book-btn {
    font-size: 4.5vw;
  }
}
