:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --primary-color: #0c243c;
  --secondary-color: #0b233b;
}

a {
  text-decoration: none;
}

.navbar-brand {
  height: 4vw;
  text-transform: uppercase;
  font-family: var(--font-inter);
  font-weight: 600;
}

.navbar-brand img {
  height: 100%;
  object-fit: contain;
}

.nav-link {
  font-family: var(--font-inter);
  font-weight: 500;
  color: #000;
}

.book-btn {
  background-color: var(--primary-color);
  color: #fff;
  font-family: var(--font-inter);
  font-weight: bold;
}

.book-btn:hover {
  color: #fff;
}

.card {
  font-family: var(--font-poppins);
  background: rgba(11, 35, 59, 0.09);
  border-radius: 20px;
}

.card-header p {
  color: #000;
}

.card-header p:first-child {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3vw;
}
.card-header p:last-child {
  font-weight: 500;
  font-size: 1vw;
}

.card-body p {
  font-size: 1.3vw;
  font-weight: 400;
  color: #000;
}

.card-body input {
  border: 1px solid #0b233b;
  background-color: transparent;
}

.score input {
  width: 60%;
  padding: 0.5rem 1rem;
}

.card-body label {
  font-weight: 500;
}

.back-btn,
input[type="submit"] {
  font-family: var(--font-poppins);
  font-weight: 500;
  padding: 0.3rem 1.5rem;
  border: 1px solid var(--primary-color);
  transition: all 1s;
}

.back-btn {
  color: var(--primary-color);
  margin-right: 1rem;
}

.back-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
}

input[type="submit"]:hover {
  color: var(--primary-color);
  background-color: transparent;
}

@media screen and (max-width: 1200px) {
  .navbar-brand {
    height: 6vw;
  }
}
@media screen and (max-width: 992px) {
  .navbar-brand img {
    height: 5vw;
  }
}
@media screen and (max-width: 768px) {
  .navbar-brand {
    height: 8vw;
  }

  .navbar-brand img {
    height: 8vw;
  }
}
@media screen and (max-width: 640px) {
  .navbar-brand {
    height: 9vw;
  }

  .navbar-brand img {
    height: 9vw;
  }
}
@media screen and (max-width: 576px) {
  .navbar-brand {
    height: 10vw;
  }

  .navbar-brand img {
    height: 10vw;
  }
}

@media screen and (max-width: 440px) {
  .navbar-brand {
    height: 10vw;
  }

  .navbar-brand img {
    height: 10vw;
  }
}
@media screen and (max-width: 380px) {
}
@media screen and (max-width: 300px) {
  .navbar-brand {
    height: 12vw;
  }

  .navbar-brand img {
    height: 12vw;
  }

  .nav-link,
  .book-btn {
    font-size: 4.5vw;
  }
}
