:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --primary-color: #0c243c;
  --secondary-color: #0b233b;
}

a {
  text-decoration: none;
}

.navbar-brand {
  height: 4vw;
  text-transform: uppercase;
  font-family: var(--font-inter);
  font-weight: 600;
}

.navbar-brand img {
  height: 100%;
  object-fit: contain;
}

.nav-link {
  font-family: var(--font-inter);
  font-weight: 500;
  color: #000;
}

.book-btn {
  background-color: var(--primary-color);
  color: #fff;
  font-family: var(--font-inter);
  font-weight: bold;
}

.book-btn:hover {
  color: #fff;
}

main {
  font-family: var(--font-poppins);
  background-color: #fff;
  margin: 4rem 0;
}
main .h2 {
  font-weight: 700;
}

.content p {
  font-family: var(--font-poppins);
  font-weight: 400;
}

.content .h3 {
  font-weight: 600;
  margin: 2rem 0;
}

.que-ans .ans,
.que-ans .img-part {
  width: 50%;
}

span {
  font-weight: 600;
}

.apply-btn {
  font-family: var(--font-poppins);
  font-weight: 600;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 2rem;
  transition: all 1s;
}

.apply-btn:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.footer-upper {
  background-color: var(--primary-color);
  color: #fff;
  font-family: var(--font-poppins);
  font-weight: 500;
  padding: 2rem 0;
}

.footer-upper .row {
  width: 70%;
  margin: 0 auto;
}

.footer-bottom {
  font-family: var(--font-poppins);
}

@media screen and (max-width: 1200px) {
  .navbar-brand {
    height: 6vw;
  }
}
@media screen and (max-width: 992px) {
  .navbar-brand img {
    height: 5vw;
  }
  .footer-upper .row .col {
    width: fit-content;
    margin: 0 auto;
    font-size: 2.5vw;
  }
  .que-ans .ans,
  .que-ans .img-part {
    width: 100%;
  }

  .que-ans .img-part {
    margin: 2rem 0;
  }
}
@media screen and (max-width: 768px) {
  .navbar-brand {
    height: 8vw;
  }

  .navbar-brand img {
    height: 8vw;
  }
}
@media screen and (max-width: 640px) {
  .navbar-brand {
    height: 9vw;
  }
  .footer-bottom p {
    font-size: 2.3vw;
  }

  .navbar-brand img {
    height: 9vw;
  }
}
@media screen and (max-width: 576px) {
  .navbar-brand {
    height: 10vw;
  }

  .navbar-brand img {
    height: 10vw;
  }

  .content .h3 {
    font-size: 3.3vw;
  }

  .content p,
  li,
  .apply-btn {
    font-size: 2.3vw;
  }

  .footer-bottom p {
    font-size: 2.6vw;
  }
}

@media screen and (max-width: 440px) {
  .navbar-brand {
    height: 10vw;
  }

  .navbar-brand img {
    height: 10vw;
  }

  .content .h3 {
    font-size: 4.3vw;
  }

  .content p,
  li,
  .apply-btn {
    font-size: 3vw;
  }

  .footer-upper .row .col {
    font-size: 3vw;
  }

  .footer-bottom p {
    font-size: 3vw;
  }
}
@media screen and (max-width: 380px) {
  .footer-upper .row .col {
    font-size: 4vw;
  }

  .footer-bottom p {
    font-size: 4vw;
  }
}
@media screen and (max-width: 300px) {
  .navbar-brand {
    height: 12vw;
  }

  .navbar-brand img {
    height: 12vw;
  }

  .nav-link,
  .book-btn {
    font-size: 4.5vw;
  }

  .content .h3 {
    font-size: 5vw;
  }

  .content p,
  li,
  .apply-btn {
    font-size: 3.5vw;
  }
}
